.no-data {
    padding: 50px;
    .no-data-img {
        margin: 0 auto;
        width: 284px;
        height: 190px;
    }
    .no-data-text {
        margin-top: 10px;
        font-size: 26px;
        text-align: center;
        color: #979797;
    }
}