#coach_field_box {
    background-color: #fff;
    border-radius: 24px;
    padding: 37px 24px 0;
    margin-bottom: 10px;
    .coach_field_title {
        line-height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .coach_field_card_title {
            font-family: FZLanTingHei-R-GBK;
            font-size: 36px;
            color: #101D37;
            margin-right: 24px;
        }
        .coach_field_card_level_title {
            font-family: FZLanTingHei-R-GBK;
            font-size: 24px;
            color: #999;
        }
        .look_more {
            font-family: FZLanTingHei-R-GBK;
            color: #458DD2;
            font-size: 22px;
        }
    }
    .single-card-box {
        padding: 30px 0;
        // border: 1px solid red;
        display: flex;
        flex: 1;
        box-sizing: border-box;
        align-items: center;
        // border-bottom: 1px solid #EDEDED;
        .img-left-width {
            width: 200px;
            height: 140px;
            border-radius: 12px;
            margin-right: 18px;
        }
        .card-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 140px;
            flex: 1;
            overflow: hidden;
            // border: 1px solid red;
            .card-right-title {
                font-family: 'Alibaba PuHuiTi';
                font-size: 32px;
                color: #14213A;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                // border: 1px solid green;
            }
            .card-right-jz {
                display: flex;
                align-items: center;
                flex: 1;
                // border: 1px solid green;
                image {
                    width: 36px;
                    height: 36px;
                    margin-right: 20px;
                }
                text {
                    color: #666;
                    font-size: 24px;
                }
                .max-line-one {
                  flex: 1;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
            }
        }
    }
    // .fl {
    //     display: flex;
    //     align-items: center;
    //     font-size: 20px;
    //     line-height: 28px;
    // }
    // .mr {
    //     width: 28px;
    //     height: 28px;
    //     margin-right: 5px;
    // }
}