#smart-school-box {
    background-color: #fff;
    border-radius: 24px;
    padding: 37px 24px 0;
    margin-bottom: 10px;
    .smart-title {
        line-height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .smart-card-title {
            font-family: FZLanTingHei-R-GBK;
            font-size: 36px;
            color: #101D37;
            margin-right: 24px;
        }
        .smart-card-level-title {
            font-family: FZLanTingHei-R-GBK;
            font-size: 24px;
            color: #999;
        }
    }
    .smart-imgs {
        padding-top: 30px;
        image {
            width: 698px;
            height: 356px;
            margin-bottom: 20px;
        }
    }
 
}