.coach-detail-werrper {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;

    .no-list {
        font-family: PingFang SC;
        font-size: 26px;
        text-align: center;
        color: #999999;
        height: 100px;
        padding: 60px 0 60px;
    }

    .coach-bg {
        .coach-item {
            width: 100%;
            margin-top: 2px;
            border-radius: 0px, 0px, 24px, 24px;
            background-color: #fff;
            display: flex;
            padding: 30px 26px;
            box-sizing: border-box;
            margin-bottom: 20px;

            .coach-item-img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                overflow: hidden;
                flex: none;
                margin-right: 16px;

                >.img {
                    width: 100%;
                    height: 100%;
                }
            }

            .coach-item-content {
                flex: 1;
                position: relative;

                .coach-content-top {
                    display: flex;
                    align-items: center;

                    .coach-title {
                        font-family: FZLanTingHeiS-DB1-GB;
                        font-size: 36px;
                        font-weight: bold;
                        color: #14213A;
                        overflow: hidden;
                        max-width: 220px;
                        text-overflow: ellipsis; //超出部分省略号显示
                        display: -webkit-box !important; // 弹性盒模型
                        -webkit-box-orient: vertical; // 上下垂直
                        -webkit-line-clamp: 1; // 自定义行数
                    }

                    .coach-shiming {
                        flex: none;
                        width: 114px;
                        height: 38px;
                        margin-left: 10px;
                    }

                    .coach-year {
                        flex: none;
                        margin-left: 10px;
                        padding: 2px 8px;
                        border-radius: 6px;
                        background-color: #EFF3F5;
                        color: #666666;
                        font-family: PingFang SC;
                        font-size: 22px;
                    }
                }

                .coach-content-area {
                    margin-top: 6px;
                    display: flex;

                    .coach-area-img {
                        width: 34px;
                        height: 34px;
                        margin-right: 10px;
                        flex: none;
                    }

                    .coach-area-text {
                        font-size: 24px;
                        color: #666666;
                        max-width: 433px;
                        overflow: hidden;
                        text-overflow: ellipsis; //超出部分省略号显示
                        display: -webkit-box !important; // 弹性盒模型
                        -webkit-box-orient: vertical; // 上下垂直
                        -webkit-line-clamp: 1; // 自定义行数
                    }
                }

                .coach-content-info {
                    margin-top: 6px;
                    display: flex;
                    align-items: center;

                    .coach-score {
                        font-size: 24px;
                        color: #FF8D00;
                    }

                    .coach-dp {
                        font-size: 24px;
                        color: #666666;
                        margin: 0 18px;

                        .coach-dpCount {
                            color: #FF8A00;
                        }
                    }
                }

                .coach-tabs {
                    margin-top: 6px;
                    display: flex;
                    flex-wrap: wrap;

                    .coach-tab {
                        margin-bottom: 6px;
                        margin-right: 7px;
                        padding: 2px 8px;
                        border-radius: 6px;
                        background-color: #EFF3F5;
                        color: #666666;
                        font-family: PingFang SC;
                        font-size: 22px;
                    }
                }

                .coach-contact {
                    width: 68px;
                    height: 68px;
                    position: absolute;
                    top: 28px;
                    right: 0px;
                    border-radius: 50%;
                    overflow: hidden;
                    .coach-contact-btn {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        border: 0px;
                        background-color: #fff;
                    }
                    .coach-contact-img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .coach-detail-content {
            width: 100%;
            padding: 33px 26px 24px;
            box-sizing: border-box;
            border-radius: 24px;
            background-color: #fff;

            .detail-title {
                font-size: 36px;
                font-weight: bold;
                color: #101D37;
            }

            .detail-tip {
                font-size: 28px;
                line-height: 40px;
                color: #17232F;
                margin-top: 16px;
            }
        }

        .coach-detail-stu-dp {
            width: 100%;
            padding: 33px 26px 24px;
            box-sizing: border-box;
            border-radius: 24px;
            background-color: #fff;
            margin-top: 20px;

            .detail-title {
                font-size: 36px;
                font-weight: bold;
                color: #101D37;
            }

            .detail-tip {
                .pl-item {
                    padding: 30px 0 28px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #E3E3E3;
                    display: flex;

                    .pl-user-head {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 20px;

                        .pl-user-img {
                            width: 100%;
                            height: 1005;
                        }
                    }

                    .pl-user-content {
                        flex: 1;
                        margin-top: 19px;

                        .pl-user-top {
                            display: flex;
                            align-items: center;

                            .pl-user-name {
                                font-family: PingFang SC;
                                font-size: 26px;
                                color: #555555;
                                overflow: hidden;
                                text-overflow: ellipsis; //超出部分省略号显示
                                display: -webkit-box !important; // 弹性盒模型
                                -webkit-box-orient: vertical; // 上下垂直
                                -webkit-line-clamp: 1; // 自定义行数
                            }

                            .pl-user-pf {
                                flex: none;
                                display: flex;
                                align-items: center;
                                margin-left: 20px;

                                .pl-pf-img {
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 8px;
                                }

                                .pl-pf-text {
                                    font-family: PingFang SC;
                                    font-size: 24px;
                                    color: #FF6600;
                                }
                            }
                        }

                        .pl-user-tabs {
                            margin-top: 28px;
                            display: flex;
                            flex-wrap: wrap;

                            .pl-user-tab {
                                margin-bottom: 10px;
                                margin-right: 7px;
                                padding: 2px 8px;
                                border-radius: 6px;
                                background-color: #EFF3F5;
                                color: #666666;
                                font-family: PingFang SC;
                                font-size: 22px;
                            }
                        }

                        .pl-user-text {
                            font-family: PingFang SC;
                            font-size: 26px;
                            line-height: 36px;
                            color: #111111;
                            margin-top: 10px;
                        }

                        .pl-user-time {
                            font-family: PingFang SC;
                            font-size: 22px;
                            color: #999999;
                            text-align: right;
                            margin-top: 10px;
                        }
                    }
                }

                .pl-item:last-child {
                    border-bottom: none;
                }

                .no-pl-list {
                    font-size: 26px;
                    text-align: center;
                    color: #999999;
                    margin: 20px 0;
                }
            }
        }
    }
}