.news-werrper {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;

    .at-tabs__header {
        margin-top: 2px;

        .at-tabs__item {
            font-size: 30px;
            color: #101D37;
        }

        .at-tabs__item.at-tabs__item--active {
            font-size: 36px;
            color: #E9623E;
        }

        .at-tabs__item-underline {
            width: 136px;
            left: 59px;
            height: 4px;
            background-color: #E9623E;
        }
    }
}

.new-list-werrper {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;

    .new-bg {
        background-color: #F8F8F8;
        padding: 20px 26px;
        box-sizing: border-box;
    }
    .no-list {
        font-family: PingFang SC;
        font-size: 26px;
        text-align: center;
        color: #999999;
        padding-bottom: 150px;
    }
    .new-item {
        padding: 30px 20px;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: #fff;
        display: flex;
        margin-bottom: 20px;

        .new-item-img {
            width: 200px;
            height: 132px;
            border-radius: 9px;
            overflow: hidden;
            flex: none;

            >.img {
                width: 100%;
                height: 100%;
            }
        }

        .new-item-content {
            flex: 1;
            margin-right: 44px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .new-content-title {
                font-size: 30px;
                line-height: 40px;
                color: #000;
                overflow: hidden;
                text-overflow: ellipsis; //超出部分省略号显示
                display: -webkit-box !important; // 弹性盒模型
                -webkit-box-orient: vertical; // 上下垂直
                -webkit-line-clamp: 2; // 自定义行数
            }

            .new-content {
                display: flex;
                margin-top: 14px;

                .new-tab {
                    margin-right: 10px;
                    padding: 0 8px;
                    border-radius: 6px;
                    background-color: #DDE7F0;
                    color: #666666;
                    font-family: PingFang SC;
                    font-size: 22px;
                }

                .new-time {
                    font-size: 24px;
                    color: #999999;
                }
            }
        }
    }
}