
.btn-warrper {
    width: 160px;
    height: 60px;
    .class-btn {
        width: 160px;
        height: 60px;
        display: inline-block;
        border-radius: 52px;
        background-color: #E9623E;
        color: #fff;
        font-family: PingFang SC;
        font-size: 28px;
        line-height: 60px;
        text-align: center;
    }
}