#field-detail-wrap {
    // width: 750px;
    // height: 1448px;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    background-color: #f8f8f8;
    padding-top: 5px;
    .single-card-box {
      padding: 36px 26px;
      // border: 1px solid red;
      margin-bottom: 10px;
      display: flex;
      flex: 1;
      background-color: #fff;
      border-radius: 0px, 0px, 24px, 24px;
      box-sizing: border-box;
      .img-left-width {
          width: 240px;
          height: 160px;
          border-radius: 12px;
          margin-right: 18px;
      }
      .card-right {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          box-sizing: border-box;
          // justify-content: flex-start;
          // height: 140px;
          flex: 1;
          .fl {
            display: flex;
            align-items: center;
            .card-right-title {
                font-family: 'Alibaba PuHuiTi';
                font-size: 32px;
                color: #14213A;
                // border: 1px solid green;
            }
            .kemu {
                display: inline-block;
                background-color: #FFDCC3; 
                font-size: 24px; 
                color: #FF5E1A;
                width: 80px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                border-radius: 6px;
                margin-left: 14px;
            }
          }
          .card-right-jz {
              display: flex;
              align-items: center;
              margin-top: 16px;
              overflow: hidden;
              // border: 1px solid green;
              image {
                  width: 24px;
                  height: 24px;
                  margin-right: 10px;
              }
              text {
                  color: #666;
                  font-size: 24px;
              }
              .one-line{
                flex: 1;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                // border: 1px solid blue;
              }
          }
          .phone-wrap {
            margin-top: 16px;
            color: #666;
            font-size: 24px;
            .name {
              margin-right: 15px;
            }
            .icon-width {
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
          }
          .text-line-address{
            align-items: unset;
            .max-line-one {
              flex: 1;
            }
          }
      }
    }
    .introduce {
      background-color: #fff;
      border-radius: 24px;
      padding: 32px 26px;
      .introduce-title {
        font-size: 36px;
        line-height: 48px;
        color: #101D37;
        margin-bottom: 16px;
      }
      .some-text {
        font-size: 28px;
        color: #17232F;
        line-height: 40px;
        text-align: justify;
      }
    }
    .environment {
      background-color: #fff;
      border-radius: 24px;
      padding: 32px 26px;
      margin-top: 10px;
      .introduce-title {
        font-size: 36px;
        line-height: 48px;
        color: #101D37;
        margin-bottom: 16px;
      }
    }
    .address {
      background-color: #fff;
      border-radius: 24px;
      padding: 32px 26px;
      margin-top: 10px;
      .introduce-title {
        font-size: 36px;
        line-height: 48px;
        color: #101D37;
      }
      #mapId {
        width: 100%;
        height: 240px;
        border-radius: 12px;
        .customCallout {
          box-sizing: border-box;
          background-color: #E9623E; 
          // border: 1px solid #ccc;
          border-radius: 19px;
          width: auto;
          height: 72px;
          display: inline-flex;
          padding: 5px 20px;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
        
        .circle {
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          border-radius: 19px;
          // border-radius: 50%;
        }
        
        .icon {
          width: 16px;
          height: 16px;
          display: none;
        }
        
        .content {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .img-list-wrap {
      .detail-swipe {
          margin-top: 20px;
      }
      .detail-swipe-box {
          height: 252px !important;
      }
      .detail-swipe-item {
          flex: none;
          width: 448px !important;
          height: 252px !important;
          padding-right: 20px;
          box-sizing: border-box;
      
          > .detail-swipe-item-img {
              width: 100%;
              height: 100%;
              border-radius: 24px;
          }
      }
      .detail-swipe-item:last-child {
          padding-right: 20px;
      }
    }
}