.activity-content {
    // position: relative;
    .ling-qu {
        position: absolute;
        width: 480px;
        height: 96px;
        bottom: 80px;
        right: 46px;
        left: 48px;
    }
}